@model TeacherProjectsModel

@{
    ViewData["Title"] = "Индивидуальные проекты";
}

<div class="ContainerDeprtaments">
    @if (Model.IndividualProjects.Count == 0)
    {
        <div class="title-div">
            <h1 class="title">У вас нет проектов студентов</h1>
        </div>
    }
    else
    {
        <div class="title-div">
            <h1 class="title">Проекты студентов</h1>
        </div>
        @foreach (var IndividualProject in Model.IndividualProjects)
        {
            var filesHave = Model.Files.FirstOrDefault(d => d.IndividualProjectId == IndividualProject.Id);
            var nameSubject = Model.Subjects.FirstOrDefault(d => d.Id == IndividualProject.Subject);
            var fioStudent = Model.Students.FirstOrDefault(x => x.Id == IndividualProject.Student);
            string statusName = "";
            bool flagReady = false;
            string gradle = "";
            if (IndividualProject.Gradle == null)
            {
                gradle = "Отсутствует";
            }
            else
            {
                gradle = IndividualProject.Gradle.ToString();
            }
            if (IndividualProject.Status == 1)
            {
                statusName = "Одобрено";
            }
            else if (IndividualProject.Status == 2)
            {
                statusName = "Отклонена";
            }
            else if (IndividualProject.Status == 3)
            {
                statusName = "Не просмотрено";
            }
            else if (IndividualProject.Status == 4)
            {
                statusName = "Оценено";
            }
            else if (IndividualProject.Status == 5)
            {
                statusName = "Изменена тема";
            }
            string feedBack = "";
            bool flag = false;
            if (IndividualProject.Feedback == null)
            {
                feedBack = "Отзыв не предоставлен";
            }
            else
            {
                flag = true;
                feedBack = "Отзыв предоставлен";
            }
            <div class="card bg-light d-flex flex-fill" style="margin-top: 20px;">
                <div class="card-header text-muted border-bottom-0">
                    Тема: @IndividualProject.NameTheme
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-7" style="width: 100%">
                            @if (nameSubject == null)
                            {
                                <h2 class="lead"><b>Дисциплина удалена</b></h2>
                            }
                            else
                            {
                                <h2 class="lead"><b>Дисциплина: @nameSubject.Name</b></h2>
                            }
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>Статус: @statusName</li>
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>Оценка: @gradle</li>
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>@feedBack</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                            @if (IndividualProject.Status == 3)
                            {
                            <a href="@Url.Action("AcceptProject", "TeacherPage", new { IndividualProjectid = IndividualProject.Id })" class="btn btn-sm btn-primary" style="background-color: green">
                                <i class="fas fa-user"></i> Принять
                            </a>
                            }
                            @if (IndividualProject.Status == 3)
                            {
                            <a href="@Url.Action("DeclineProject", "TeacherPage", new { IndividualProjectid = IndividualProject.Id })" class="btn btn-sm btn-primary" style="background-color: red">
                                <i class="fas fa-user"></i> Отклонить
                            </a>
                            }
                            @if(IndividualProject.Status != 2)
                            {
                                <a href="@Url.Action("EditProjectTheme", "TeacherPage", new { IndividualProjectid = IndividualProject.Id })" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Изменить тему
                                </a>
                            }
                            @if(IndividualProject.Status != 2)
                            {
                                <a href="@Url.Action("AddEditGrade", "TeacherPage", new { idProject = IndividualProject.Id })" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Изменить оценку
                                </a>
                            }
                        
                        @if(flag == false)
                        {
                            <a href="@Url.Action("AddFeedback", "TeacherPage", new { idProject = IndividualProject.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Оставить отзыв
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("CheckEditFeedback", "TeacherPage", new { idProject = IndividualProject.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Просмотреть/изменить отзыв
                            </a>
                        }
                        @if (filesHave != null)
                        {
                            <a href="@Url.Action("DownloadFile", "TeacherPage", new { projectID = IndividualProject.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Скачать проект
                            </a>
                        }
                        <a href="@Url.Action("DeleteProject", "TeacherPage", new { projectID = IndividualProject.Id })" class="btn btn-sm btn-primary" style="background-color: red; float: right">
                            <i class="fas fa-user"></i> Удалить
                        </a>
                        @if (Model.ProjectGroupStatus.ContainsKey(IndividualProject.Id) && Model.ProjectGroupStatus[IndividualProject.Id] && IndividualProject.Status == 3)
                        {
                            <a href="@Url.Action("GenerateStatement", "TeacherPage", new { projectID = IndividualProject.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Сформировать заявление
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

