@model DepartmentDetail

@{
    ViewData["Title"] = "Админ страница(Отделения определенное)";
}
<body>
    <div class="title-div">
        <h1 class="title">@Model.NameDepartment</h1>
    </div>
    <div style="flex-wrap: wrap; display:flex">
        @foreach (var group in Model.Groups)
        {
            Employee classroomTeacher = Model.employees.SingleOrDefault(g => g.Id == group.ClassroomTeacher);
            string nameClass = "Отсутствует";
            if (classroomTeacher != null)
            {
                nameClass = classroomTeacher.Surname + " " + classroomTeacher.Name + " " + classroomTeacher.Pat;
            }
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" style="margin-top: 10px; margin-right: 10px; width:30%">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">Название группы: @group.Name</div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7" style="width: 100%">
                                <h2 class="lead"><b></b></h2>
                                <p class="text-muted text-sm"><b>Количество студентов: <b>@Model.StudentCounts[group.Id]</b></b></p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building">Отделение: @Model.NameDepartment</i></span></li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i>Классный руководитель: </span>@nameClass</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a href="@Url.Action("GroupDetailView", "DepartmentPage", new { groupid = group.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Подробнее
                            </a>
                            <a href="@Url.Action("GenerateDocGroup", "DepartmentPage", new { groupid = group.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Генерация отчета по группе
                            </a>
                            <a href="@Url.Action("GenerateDocDebtorsGroup", "DepartmentPage", new { groupid = group.Id })" class="btn btn-sm btn-primary" style="margin-top: 5px">
                                <i class="fas fa-user"></i> Генерация отчета по должникам
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
