@model DepartmentListViewModel
@{
    ViewData["Title"] = "Админ страница(Отделения)";
}

<body>
    <div class="title-div">
        <h1 class="title">Отделения</h1>
    </div>
    <div style="flex-wrap: wrap; display:flex">
        @foreach (var department in Model.Departments)
        {
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" style="margin-top: 10px; margin-right: 10px; width:30%;">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header border-bottom-0" style="font-weight:bold; font-size:large">@department.Name</div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7" style="width: 100%">
                                <h2 class="lead"><b></b></h2>
                                <p class="text-muted text-sm"><b>Количество групп: <b>@Model.groupsCounts[department.Id]</b></b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a href="@Url.Action("DepartmentDetailView", "DepartmentPage", new { departmentId = department.Id })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Подробнее
                            </a>
                            <a href="@Url.Action("GenerateDocDepartment", "DepartmentPage", new { departmentId = department.Id  })" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> Генерация отчета по отделению
                            </a>
                            <a href="@Url.Action("GenerateDebtorsReportDepartment", "DepartmentPage", new { departmentId = department.Id  })" class="btn btn-sm btn-primary" style="margin-top: 5px">
                                <i class="fas fa-user"></i> Генерация отчета по должникам
                            </a>                        
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
