@model ManagingIndividualProjects.Models.Subject

@{
    ViewData["Title"] = "Добавление дисциплины";
    var teachers = ViewBag.Teachers as List<ManagingIndividualProjects.Models.Employee>;
}

<div class="container">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Добавление дисциплины</h3>
        </div>
        <form asp-action="AddSubject" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="myDropdown1">Выберите преподавателя:</label>
                    <select id="myDropdown1" name="selectedClassroomId" class="form-control">
                        @foreach (var teacher in teachers)
                        {
                            <option value="@teacher.Id">@teacher.Surname @teacher.Name @teacher.Pat</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название дисциплины</label>
                    <input asp-for="Name" class="form-control" placeholder="Напишите название" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary" style="margin-top:5px">Добавить</button>
                <a href="@Url.Action("goToMain", "MainImport")" class="btn btn-sm btn-primary" style="margin-top: 5px;margin-right:5px; float: right;">
                    <i class="fas fa-user"></i> На главную
                </a>
            </div>
        </form>
    </div>
</div>
