@*
   
*@
@{
}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Страница для импорта данных</h5>
            <p class="card-text">
                Перед импортом крайне рекомендуется просмотреть правила и порядок.
            </p>
            <a href="@Url.Action("CheckRules", "MainImport")" class="card-link">Посмотреть правила</a>
        </div>
    </div>
    <div style="flex-wrap: wrap; display: flex; margin-top: 10px">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header border-bottom-0"><h2>Импорт данных</h2></div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7" style="width: 100%">
                        <h2 class="lead"><b>Файлы должны быть в формате csv</b></h2>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="@Url.Action("ImportTeachers", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить преподавателей
                    </a>                                                                             
                </div>
            </div>
        </div>
    </div>
     <div style="flex-wrap: wrap; display: flex; margin-top: 10px">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header border-bottom-0"><h2>Добавление данных</h2></div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7" style="width: 100%">
                        <h2 class="lead"><b>Вы можете добавить данные в ручную</b></h2>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="@Url.Action("AddTeacher", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить преподавателя
                    </a>
                     <a href="@Url.Action("AddClassroom", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить классного руководителя
                    </a>
                    <a href="@Url.Action("AppointClassroom", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Назначить классного руководителя
                    </a>
                    <a href="@Url.Action("AddSubject", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Добавить дисциплину
                    </a>
                    <a href="@Url.Action("AddGroup", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Добавить группу
                    </a>
                    <a href="@Url.Action("AddEmployeeGroup", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Задать группе преподавателя
                    </a>
                    <a href="@Url.Action("AddStudent", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Добавить студента
                    </a>
                </div>
            </div>
        </div>
        </div>        
        <div style="flex-wrap: wrap; display: flex; margin-top: 10px">
            <div class="card bg-light d-flex flex-fill">
                <div class="card-header border-bottom-0"><h2>Удаление данных</h2></div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-7" style="width: 100%">
                            <h2 class="lead"><b>Каскадное удаление данных из базы данных. Будьте осторожны при удалении!</b></h2>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <a href="@Url.Action("DeleteEmployee", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Удаление сотрудника
                        </a>
                        <a href="@Url.Action("DeleteSubject", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Удалить дисциплину
                        </a>
                        <a href="@Url.Action("DeleteGroup", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Удалить группу
                        </a>
                        <a href="@Url.Action("DeleteGroupTeacher", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Удалить преподавателя у группы
                        </a>

                        <a href="@Url.Action("DeleteStudent", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                            <i class="fas fa-user"></i> Удалить студента
                        </a>
                    </div>
                </div>
            </div>            
        </div>
@* <div style="flex-wrap: wrap; display: flex; margin-top: 10px">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header border-bottom-0"><h2>Изменение данных</h2></div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7" style="width: 100%">
                        <h2 class="lead"><b>Вы можете добавить данные в ручную</b></h2>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="@Url.Action("StudentProjectsView", "StudentView")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить преподавателя
                    </a>
                    <a href="@Url.Action("ImportClassrooms", "MainImport")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить классного руководителя
                    </a>
                    <a href="@Url.Action("StudentProjectsView", "StudentView")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Назначить классного руководителя
                    </a>
                    <a href="@Url.Action("StudentProjectsView", "StudentView")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить дисциплину
                    </a>
                    <a href="@Url.Action("StudentProjectsView", "StudentView")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить группу
                    </a>
                    <a href="@Url.Action("StudentProjectsView", "StudentView")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Задать группе дисциплину
                    </a>

                    <a href="@Url.Action("StudentProjectsView", "StudentView")" class="btn btn-sm btn-primary" style="margin-top:5px">
                        <i class="fas fa-user"></i> Добавить студента
                    </a>
                </div>
            </div>
        </div>
        </div> *@